<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="row">
      <div class="sidebar-heading col-6">Pokemons</div>
      <div class="btn btn-danger sidebar-close col-6" id="menu-close">Cerrar</div>
    </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Pikachu</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Pikachu</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Pikachu</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Pikachu</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Pikachu</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Pikachu</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button class="btn btn-primary app-menu" id="menu-toggle">
      Show Pokemons
    </button>
    <router-outlet class="p-0 m-0"></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
